.media {
    @include media(1226px) {
        position: fixed;
        bottom: 0;
        right: 0;
        width: 100%;
        background: #f1eeeedb;
    }
    padding-top: 20px;
    padding-bottom: 20px;
    &__menu-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 6px;
    }
    &__menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        button {
            width: 30px;
            height: 30px;
            background: none;
            border: none;
            @include media(625px) {
                width: 25px;
                height: 25px;
            }
            @include media(500px) {
                width: 20px;
                height: 20px;
            }
            @include media(380px) {
                width: 16px;
                height: 16px;
            }
        }
    }
    &__homepage {
        font-size: 18px;
        font-weight: 400;
        @include media(625px) {
            font-size: 14px;
        }
        @include media(500px) {
            font-size: 10px;
        }
        @include media(380px) {
            font-size: 8px;
        }
    }
}